* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.sidenav{
    width: 100vw;
    height: 12vh;
    box-sizing: border-box;
    background-color: rgb(233, 215, 88);

    /* font-size: 1.25rem; */
    /* word-wrap: break-word; */
    
}
 ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12vw;

}

.sidenav ul li a img {
    width: 6vw;
}
.sidenav ul li a{
    color: black;
}

.sidenav ul li a:hover{
    font-size: 1.25rem;
    color: grey;
}

header {
    background-color: #297373;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem;
}

.donation-container {
    width: 80%;
    margin: 40px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

.donation-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.donation-container p {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #0044cc;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.review-Section{
    width: 100vw;
    height: auto;
    background-color: 
    rgb(143, 13, 13);
    color:white;
}

.review{
    display: flex;
    padding: 40px;
}
